# Invokes an approving review from repo owner teams to merge PRs
*                       @montonio/cto

# Restricted files cannot be edited without approval from the Infrastructure team
/.github/**/cicd.yml    @montonio/cto
/.github/CODEOWNERS     @montonio/cto
