# Invokes an approving review from repo owner teams to merge PRs
*                       @montonio/cto @montonio/software-engineer-payments

# Restricted files cannot be edited without approval from the Infrastructure team
/.github/CODEOWNERS                             @montonio/infrastructure
/.github/workflows/branch-protection.yml        @montonio/infrastructure
/.github/workflows/dependabot-resolved.yml      @montonio/infrastructure
/.github/workflows/live-deploy.yml              @montonio/infrastructure
/.github/workflows/pr-validation.yml            @montonio/infrastructure
/.github/workflows/prelive-deploy.yml           @montonio/infrastructure
